*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
}
.container{
    border: 1px solid black;
    width: 1000px;
    height: 500px;
    margin: auto;
}

.images-container{
    position: relative;
    text-align: center;
 }

.first-image{
    width: 800px;
    height: 500px;
    border: 1px dashed red;
}

.preview{
    width: 200px;
    height: 100px;
    border: 1px dashed violet;
}

.preview-container{
    position: absolute;
    top: 0;
    right: 0;
}

.img-big{
    width: 800px;
    height: 500px;
}

.img-small{
    width: 200px;
    height: 100px;
    display: block;
}

.up-btn{
    position: absolute;
    top: 0;
    z-index: 999;
    right: 65px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.down-btn{
    position: absolute;
    bottom: 0;
    z-index: 999;
    right: 65px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#titolo{
    color: white;
    position: absolute;
    right: 210px;
    bottom: 50px;
    border-style: dashed;
}