*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid black;
    width: 1000px;
    height: 500px;
    margin: auto;
}

.images-container{
    position: relative;
 }

.first-image{
    width: 800px;
    height: 500px;
    border: 1px dashed red;
}

.preview{
    width: 200px;
    height: 100px;
    border: 1px dashed violet;
}

.preview-container{
    position: absolute;
    top: 0;
    right: 0;
}