*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 800px;
    height: 300px;
    border: 1px dashed black;
    margin: auto;
    margin-top: 200px;
    display: flex;
}

.main-image-container{
    border: 1px dashed red;
    width: 80%;
    height: 100%;
}

.preview{
    border: 1px dashed green;
    width: 200px;
    height: 60px;
}